* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94vh;
  font-size: 3rem;
}

.home {
  background-image: url("./images/nature.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
